GitHub README Auto Progress Tracker.json
{
  "name": "GitHub README Auto Progress Tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 10,15,21 * * *"
            },
            {
              "triggerAtHour": 10
            },
            {
              "triggerAtHour": 15
            },
            {
              "triggerAtHour": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        -272
      ],
      "id": "d3e7b075-b0cd-43a4-aab9-226c35267b83",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "Teja4sky",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "github-readme-auto-progress-tracker-n8n",
          "mode": "name"
        },
        "filePath": "README.md",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -160,
        64
      ],
      "id": "e360e3da-1106-4eab-be7f-f597ed76f802",
      "name": "Get a file",
      "webhookId": "10558dc4-2235-4057-bfc5-88f0870d7fdf",
      "credentials": {
        "githubApi": {
          "id": "Uyn2LqQeS8oaIPTn",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get README content\nlet content = $input.first().json.content;\n\n// Decode Base64\ncontent = Buffer.from(content, 'base64').toString('utf8');\n\n// Add new progress line\nlet matches = content.match(/Day\\s+\\d+/g);\n\nlet day = matches ? Math.floor(matches.length / 3) + 1 : 1;\n\nlet timeLabels = [\"Morning\", \"Afternoon\", \"Night\"];\nlet countToday = matches ? matches.length % 3 : 0;\n\nlet label = timeLabels[countToday];\n\ncontent += `\\nDay ${day} – Done (${label})`;\n\nreturn [{\n  json: {\n    content: content,\n    message: `Progress update: Day ${day} (${label})`\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        -256
      ],
      "id": "4faff8c3-6aac-467c-bc78-8d22e95970dc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "Teja4sky",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "github-readme-auto-progress-tracker-n8n",
          "mode": "name"
        },
        "filePath": "README.md",
        "fileContent": "={{$json.content}}",
        "commitMessage": "={{$node[\"Code in JavaScript\"].json[\"message\"]}}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        128,
        64
      ],
      "id": "135f2229-0ad4-4b49-b075-f49cfc29b367",
      "name": "Edit a file",
      "webhookId": "d42f511e-2572-4820-9230-ffded0f51ba5",
      "credentials": {
        "githubApi": {
          "id": "Uyn2LqQeS8oaIPTn",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "4563e2d4-2227-4158-8609-db45d9f4cd51",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6fbb277c0df551508765ba790306382d24ce3901b8643a7f2010fcc9cca720d"
  },
  "id": "4fMnsYhw_mJgYSbhD8pBu",
  "tags": []
}